<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/my-socnet-style.css" rel="stylesheet" type="text/css"/>
    <title>
        Home - Linkis
    </title>
</head>
<body>
<div id="container">
    <a href="/">
        Linki
    </a>
    |
    <a href="/home">
        Home
    </a>
    |
    <a href="logout">
        Log Out ({{ nickname }})
    </a>

    <h1>
        Redirige tu linki a la url que desees.
    </h1>
    <div>
        <form action="/editlink" method="post" name="editlink">
            <label for="linki">
                Tu Linki es:
            </label>
            {{ linkivalue }}
            <div class="inputs">
                Redirigir linki a:
                <input id="vinculo" maxlength="64" name="vinculo" placeholder="vinculo" size="80" type="text"
                       value="{{ vinculo }}"/>
            </div>
                <div class="inputs">
                    <input id="accept_submit" name="accept_submit" type="submit" value="Accept"/>
                </div>
            </label>
        </form>
    </div>
</div>
</body>
</html>